BTW_SECRET_KEY=change-me-for-local-development
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
# Will be displayed in the footer of the application
# AUTHOR=
DEBUG=true
AUTHOR= Developer akademie

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
